body {
  background: linear-gradient(0deg, rgba(209, 226, 253, 1) 100%, rgba(213, 198, 243, 1) 100%, rgba(252, 171, 234, 1) 100%);
 }
 .p1 {
  position: absolute;
  width: 511px;
  height: 907px;
  left: 299px;
  top: 86px;
      }
      .p1 {
        color: #08f3a5;
    border: none;
    width: 511px;
    height: 907px;
    position: absolute;
      }
      .p1:hover {
        opacity: 0.7;
      }
      .p2 {
        position: absolute;
  width: 224px;
  height: 244px;
  left: 1265px;
  top: 235px;
      }
      .p4 {
        position: absolute;
  width: 511px;
  height: 907px;
  left: 1121px;
  bottom: 10px;
      }
      .p4 {
        color: #08f3a5;
    border: none;
    width: 511px;
    height: 907px;
    position: absolute;
      }
      .p4:hover{
        opacity: 0.7;
      }
      .vector {
        position: absolute;
  width: 46px;
  height: 24px;
  left: 500px;
  top: 880px;
  
      }
      .r1 {
        position: absolute;
  width: 206px;
  height: 126px;
  left: 1366px;
  top: 738px;
      }
      .r2 {
        position: absolute;
  width: 206px;
  height: 126px;
  left: 1161px;
  top: 738px;
      }
      .name {
        position: absolute;
  width: 110px;
  height: 48px;
  left: 480px;
  top: 730px;
  
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  
  color: #FFFFFF;
      }
      .G1 {
        position: absolute;
  width: 218px;
  height: 29px;
  left: 420px;
  top: 800px;
  
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  
  color: #FFFFFF;
      }
      .d {
        position: absolute;
  width: 311px;
  height: 48px;
  left: 1200px;
  top: 550px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  
  color: #000000;
      }
      .g2 {
        position: absolute;
  width: 291px;
  height: 39px;
  left: 1230px;
  top: 490px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
      }
      .n2{
        position: absolute;
  width: 110px;
  height: 48px;
  left: 1310px;
  top: 430px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  
  color: #000000;
      }
      .n3 {
        position: absolute;
  width: 145px;
  height: 58px;
  left: 1187px;
  top: 705px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
      }
      .n4 {
        position: absolute;
  width: 123px;
  height: 39px;
  left: 1187px;
  top: 765px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
      }
      .dollar {
        position: absolute;
  width: 117px;
  height: 58px;
  left: 1390px;
  top: 705px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
      }
      .time {
        position: absolute;
  width: 133px;
  height: 39px;
  left: 1393px;
  top: 765px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
      }
    
    .portfolio-button{
     background-color: rgb(245, 244, 244);
     color: rgb(21, 208, 233);
     border: black;
     height: 40px;
     width: 125px;
     border-radius: 50px;
     border-color: rgba(21, 132, 206, 0.479);
     border-style: solid;
     position: absolute;
     margin-left: 1190px;
     margin-top: 850px;
         
   }
   .portfolio-button:hover{
     opacity: 0.7;
   }
   .hire-button{
    background-color: rgb(245, 244, 244);
    color: rgb(21, 208, 233);
    border: black;
    height: 40px;
    width: 125px;
    border-radius: 50px;
    border-color: rgba(21, 132, 206, 0.479);
    border-style: solid;
    position: absolute;
    margin-left: 1392px;
    margin-top: 850px;
        
  }
  .hire-button:hover{
    opacity: 0.7;
  }
  .profile-button{
    background-color: rgb(85, 173, 231);
    color: rgb(7, 7, 7);
    border: black;
    height: 40px;
    width: 125px;
    border-radius: 50px;
    border-color: rgba(6, 7, 8, 0.479);
    border-style: solid;
    position: absolute;
    margin-left: 1290px;
    margin-top: 682px;
        
  }
  .profile-button:hover{
    opacity: 0.7;
  }
  .fb1 {
    position: absolute;
width: 110px;
height: 100px;
left: 1895px;
top: 277px;
  }
.ins1 {
  position: absolute;
width: 110px;
height: 100px;
left: 1895px;
top: 377px;
}
.tw {
  position: absolute;
width: 110px;
height: 100px;
left: 1895px;
top: 477px;
}
.gm {
  position: absolute;
width: 100px;
height: 90px;
left: 1895px;
top: 577px;
}
  